{% extends 'base.html'%}

{% load static%}

{% block title%}
<title>Password Confirm</title>
{% endblock title%}

{% block nav%}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="{% url 'home'%}">
          <img style="height: 80px;" src="{% static 'products/images/farmlogo.jpg' %}">
        </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
          {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
              </div>
            </li> 
	        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
            <li class="nav-item cta cta-colored"><a href="{%url 'logout'%}" class="nav-link"> <i class="icon-sign-out" ></i> Logout</a></li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-auto">
           
            <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
            <li class="nav-item cta cta-colored"><a href="{%url 'login'%}" class="nav-link"> <i class="icon-sign-in" ></i> Login</a></li>
          
	        </ul>
          {% endif %}
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
 {% endblock nav%}

{% block contents%}
<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      {% if validlink%}
      <div class="col-xl-8 col-lg-10 col-md-12">
        <div class="login-register">
          <!-- <div class="section-title">
           <h4 class="text-center">Reset Your Password</h4>
    
          </div> -->
          <fieldset>
            <!-- <legend class="px-2">Put Your New below to reset your password</legend> -->
            <ul class="nav nav-tabs nav-tabs-border d-flex" role="tablist">

              <li class="nav-item">
                <a class="nav-link"  data-toggle="tab" href="#employer" role="tab" aria-selected="false">
                 <div class="d-flex">
                    <div class="tab-icon">
                      <i class="fa fa-cogs text-dark"></i>
                    </div>
                    <div class="ml-3">
                      <h6 class="mb-0 text-dark">Password Reset form</h6>
                      <p class="mb-0 text-dark">Make sure you password has 8 characters and not  entirely numeric</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </fieldset>
      <br>
  
       {% for field in form %}
       {% if field.errors %}
          {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong></strong> {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
        {% endfor %}
       
          <div class="tab-content">
            <div class="tab-pane active" id="candidate" role="tabpanel">
              <form class="mt-4" method="POST">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-12 mb-3">
                    <label for="Email2">New Password</label>
                    <input type="password" class="form-control" id="id_new_password1" name="new_password1">
                  </div>
                  <div class="form-group col-12 mb-3">
                    <label for="Email2">New Password Confirm</label>
                    <input type="password" class="form-control" id="id_new_password2" name="new_password2" >
                  </div>
                </div>
                <div class="form-row mt-3">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-success btn-block btn-lg" href="#">Reset</button>
                  </div>
                </div>
              </form>
            </div>
          </div> 
        </div>
      </div>
      {% else %}
      <div class="col-xl-8 col-lg-10 col-md-12">
      <fieldset>
        <!-- <legend class="px-2">Put Your New below to reset your password</legend> -->
        <ul class="nav nav-tabs nav-tabs-border d-flex" role="tablist">

          <li class="nav-item">
            <a class="nav-link" >
             <div class="d-flex">
                <div class="tab-icon">
                  <i class="fa fa-cogs text-dark"></i>
                </div>
                <div class="ml-3">
                  <h6 class="mb-0 text-dark">Password Link Expired</h6>
                  <p class="mb-0 text-danger"><strong>Ooops!😞</strong> Link has been expired/used click link below to request a new one</p>
                </div>
                     
              </div>
            </a>
          </li>
        </ul>
      </fieldset>
      <a class="btn btn-success btn-block btn-lg" href="{% url 'password_reset' %}">Request New Link</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock contents%}
{% block footer%}
{% endblock footer%}